<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated farm_cv -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="farm_cv.presentation.Farm_cvModelWizardID"
            name="%_UI_Farm_cvModelWizard_label"
            class="farm_cv.presentation.Farm_cvModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Farm_cvModelFile.gif">
         <description>%_UI_Farm_cvModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated farm_cv -->
      <editor
            id="farm_cv.presentation.Farm_cvEditorID"
            name="%_UI_Farm_cvEditor_label"
            icon="icons/full/obj16/Farm_cvModelFile.gif"
            extensions="farm_cv"
            class="farm_cv.presentation.Farm_cvEditor"
            contributorClass="farm_cv.presentation.Farm_cvActionBarContributor">
      </editor>
   </extension>

</plugin>
